.enterprise-tech-section {
  padding: 120px 200px 80px !important;
  /* text-align: center; */
}
.hit-head-e{
  text-align: center !important;
}
.badge {
  display: inline-block;
  background: #e2e8f0;
  padding: 6px 12px !important;
  border-radius: 4px !important;
  background-color: #e2e8f0 !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  margin-bottom: 16px !important;
  color: #1e293b !important;
}

.category-card {
  border-radius: 20px !important;
  padding: 24px !important;
  height: 100% !important;
  width: 100% !important;
  max-width: 400px !important;
  border: 1px solid #e2e8f0 !important;
}

.category-title {
  font-weight: 600 !important;
  margin-bottom: 16px !important;
  text-align: left;
  font-size: 18px !important;
  color: #1d293d !important;
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 12px !important; 
}

.tech-item {
  display: flex;
  align-items: center !important;
  gap: 12px !important;
  padding: 10px 20px !important;
  border-radius: 8px !important;
  background: #f1f5f9 !important;
}

.tech-label {
  font-weight: 600 !important;
  color: #1D293D !important;
  font-size: 14px !important;
}

.tech-desc {
  font-size: 14px !important;
  color: #475569 !important;
  font-weight: 400 !important;
}
