/* .result-card {
  border-radius: 16px !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100% !important;
  width: 100% !important;
  max-width: 500px !important;
} */
.result-card {
  border-radius: 16px !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 400px !important; 
  width: 100% !important;
  max-width: 360px !important; 
  min-width: 300px;
  margin: 0 auto !important;
}

.card-image-placeholder {
  height: 230px !important;
  background-color: #d4d4d4;
}

.card-content {
  padding: 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-tag {
  border-radius: 4px !important;
  border: 1px solid #cbd5e1 !important;
  background: #f8fafc !important;
  color: #64748b !important;
  font-size: 12px !important;
  padding: 2px 8px !important;
  font-weight: 500 !important;
}

.result-title {
  color: #1d293d !important;
  font-size: 20px !important;
  font-weight: 600 !important;
}

.result-desc {
  color: #45556c !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}

.card-footer {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  /* margin-top: auto !important; */
}

.footer-metric {
  display: flex;
  align-items: center;
  font-size: 12px !important;
  font-weight: 400 !important;
}

.footer-link {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.rc-star {
  width: 20px;
  height: 20px;
}
@media (max-width: 600px) {
  .result-card {
    height: auto !important; /* Let it grow naturally on small devices */
    max-width: 100% !important;
  }
}
