.outer-most-ico {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px !important;
}

.step-detail-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
  background-color: #ffffff;
  margin-top: 24px;
  border-radius: 20px !important;
  width: 100%;
  max-width: 1280px;
  border-radius: 20px;
  border: 1px solid #e2e8f0 !important;
  padding: 40px 48px !important;
}

.step-text-section {
  flex: 1;
  padding: 10px !important;
}

.step-heading-group {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px !important;
}

.visionicon-s {
  height: 52px !important;
  width: 52px !important;
}

.step-title {
  font-weight: 600 !important;
  font-size: 20px !important;
  color: #1d293d !important;
  line-height: 1.3;
}

.step-subtitle {
  color: #45556c !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}

.step-description {
  color: #45556c !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}

.step-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 16px !important;
  margin-top: 10px !important;
}

.step-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #475569 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  margin-bottom: 8px;
}

.check-icon {
  height: 18px !important;
  width: 18px !important;
}
.playb-ico {
  width: 20px;
  height: 20px;
}
.step-buttons {
  margin-top: 16px;
  display: flex;
  gap: 12px;
}

.step-visual-placeholder {
  flex: 1;
  min-height: 400px !important;
  background-color: #989090;
  border-radius: 12px;
  
}



.btn-primary-sc {
  background-color: #7c3aed !important;
  color: white !important;
  border: none;
  border-radius: 6px;
  padding: 12px 20px !important;
  font-size: 1rem;
  min-width: 120px;
  height: 44px;
  font-size: 16px !important;
  text-transform: capitalize !important;
  cursor: pointer;
}

.btn-primary:hover {
  transition: background-color 0.3s ease !important;
  background-color: #7c3aed !important;
}

/* For Outlined Buttons */
.btn-outline-sc {
  background-color: #E2E8F0 !important;
  color: #7C3AED !important;
  border: 1px solid #7C3AED !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
  transition: all 0.3s ease !important;
  padding: 16px 24px;
  border-radius: 6px;
  font-size: 16px !important;
  min-width: 120px;
  height: 44px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn-outline:hover {
  background-color: rgba(139, 80, 239, 0.08);
  border-color: rgb(115, 66, 198) !important;
}

/* Responsive layout */
@media (max-width: 900px) {
  .step-detail-card {
    flex-direction: column;
    padding: 24px;
  }

  .step-text-section {
    padding: 24px;
  }

  .step-visual-placeholder {
    min-height: 200px;
  }

  .step-heading-group {
    flex-direction: row;
    align-items: flex-start;
  }
}
