node_modules
npm-debug.log
.git
.gitignore
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite specific
.DS_Store
__sapper__
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
