.product-suite-container {
  padding: 150px 160px !important;
  /* text-align: center; */
}
.prod-main-head-sub {
  text-align: center !important;
}

.section-heading {
  font-weight: 700;
  margin: 10px 0;
}

.section-heading .highlight {
  color: #000;
}

.section-description {
  max-width: 700px;
  margin: 0 auto 40px auto;
  color: #666;
}

.card-grid {
  margin-top: 20px;
}

.product-cards {
  position: relative !important;
  border-radius: 12px !important;
  height: 100% !important;
  display: flex;
  max-width: 350px !important;
  border-radius: 16px !important;
  border: 1px solid  #E2E8F0 !important;
  flex-direction: column;
  justify-content: space-between !important;
}

.card-title-p {
 color: #3A3F40 !important;
font-size: 24px !important;
font-weight: 600 !important;
line-height: 32px !important; 
}

.card-subtitle-p {
color: #3A3F40 !important;
font-size: 16px !important;
font-style: normal;
font-weight: 600 !important;
}

.card-description-p {
  color: #444;
  font-size: 0.875rem;
  margin-bottom: 16px;
  min-height: 60px;
}

.card-tags-p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.tag-boxs {
  background: #f4f4f4;
  padding: 8px;
  border-radius: 8px;
  flex: 1;
  margin: 0 4px;
  font-size: 0.75rem;
}

.learn-more {
  color: #000 !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
  font-size: 0.875rem;
}
.product-icon-test {
  height: 52px !important;
  width: 52px !important;
}
/* Optional themed colors */
.primary {
  border-top: 4px solid #9145f0;
}
.secondary {
  border-top: 4px solid #f04f45;
}
.info {
  border-top: 4px solid #2da6a8;
}
.error {
  border-top: 4px solid #d32f2f;
}
.warning {
  border-top: 4px solid #fbc02d;
}
.card-ribbon {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  z-index: 2;
  /* border: 3px solid white; */
  /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.15); */
}

/* Color classes */
.ribbon-primary {
  background-color: #9145f0;
}
.ribbon-secondary {
  background-color: #f04f45;
}
.ribbon-info {
  background-color: #2da6a8;
}
.ribbon-error {
  background-color: #d32f2f;
}
.ribbon-warning {
  background-color: #fbc02d;
}
