.stat-section-container {
  padding: 20px 10px !important;
  background-color: #ffffff;
  text-align: center;
}
.stat-symbol {
  color: #7F22FE;
  font-size: 31px;
  font-weight: 600;
}

.stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px !important;
  cursor: default !important;
}
.stat-number {
  font-size: 31px !important;
  font-weight: 600 !important;
  color: #1E293B !important;
}

.stat-symbol {
color: #7F22FE;
font-size: 31px;
font-weight: 600;

}

.stat-title {
  color: #1d293d !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.stat-subtitle {
  font-size: 12px !important;
  color: #45556C !important;
  font-weight: 400 !important;
  margin-top: 2px;
}

.stat-tags {
  display: flex;
  gap: 26px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -30px !important;
  margin-bottom: 40px !important;
}

.stat-chip {
  border-radius: 34px !important;
  padding: 20px 24px !important;
  font-size: 12px !important;
  font-weight: 600 !important;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .stat-number {
    font-size: 24px;
  }

  .stat-title {
    font-size: 14px;
  }

  .stat-subtitle {
    font-size: 12px;
  }
}
