.info-card {
  position: absolute;
  background-color: #fff;
  padding: 12px 16px;
  width: 160px;
  border-radius: 12px;
  z-index: 2;
}

.top-left {
  top: 16px;
  left: 16px;
}

.bottom-right {
  bottom: 24px;
  right: 24px;
}
