.feature-highlight-section {
  background-color: #f5f4fb;
  padding: 80px 20px;
}

.f-section-title {
  color: #1d293d !important;
  font-size: 32px !important;
  font-weight: 700 !important;
  text-align: center;
  margin-bottom: 12px;
}

.f-section-subtitle {
  color: #45556c !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  max-width: 680px !important;
  margin: 0 auto 48px !important;
  text-align: center;
}

.feature-icon-box {
  background-color: #ede9fe;
  width: 48px;
  height: 48px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-icon-img {
  width: 48px !important;
  height: 48px !important;
}

.feature-chip {
  color: #8b5cf6 !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  width: fit-content;
  margin-top: 12px;
  padding: 2px 12px !important;
  border-radius: 4px !important;
  border: 1px solid #8b5cf6 !important;
  background: #f5f3ff !important;
}

.feature-title {
  color: #1d293d !important;
  font-size: 21px !important;
  font-weight: 600 !important;
  margin-top: 30px !important;
}

.feature-description {
  color: #45556c !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  max-width: 430px !important;
}
/* =========== */
.feature-list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feature-list-item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.chkcircleicon {
  width: 24px !important;
  height: 24px !important;
  margin-top: 2px;
}

.feature-list-text {
  display: flex;
  flex-direction: column;
}

.feature-main-text {
  font-weight: 600 !important;
  color: #1d293d !important;
  font-size: 14px !important;
}

.feature-sub-text {
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #45556C !important;
}

.feature-cta-btn {
  background-color: #7c3aed !important;
  color: white !important;
  text-transform: none !important;
  font-weight: 600 !important;
  margin-top: 30px !important;
  padding: 12px 20px !important;
  border-radius: 8px !important;
  align-self: flex-start;
}

.feature-img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
}
.f-main-grid{
  display: flex !important;
  gap: 250px !important;
}
.feature-right {
  display: flex;
  justify-content: center;
}

.feature-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-highlight-section .MuiContainer-root {
  max-width: 1280px !important;
}

.feature-img {
  width: 100%;
  max-width: 800px !important;
  height: 400px !important;
}

.icon-chip-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
@media (min-width: 1200px) {
  .feature-img {
    max-width: 800px !important;
  }
}

/* Responsive */
@media (max-width: 900px) {
  .feature-highlight-section {
    padding: 60px 16px;
  }

  .f-section-title,
  .f-section-subtitle {
    text-align: center;
  }

  .feature-list-item {
    justify-content: center;
  }

  .feature-description {
    margin: 0 auto;
    text-align: center;
  }

  .feature-cta-btn {
    align-self: center;
  }
}
