/* Header.css */

.header-appbar {
  background-color: #fff !important;
  box-shadow: none;
  height: 80px;
  display: flex;
  justify-content: center;
}



.header-container {
  width: 100%;
  max-width: 1512px;
  padding: 0 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 220px;
}

.logo-img {
  height: 40px;
  width: auto;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-link {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  font-style: normal;
  color: #45556C;
  
}

.nav-link.active {
  color: #7C3AED;
}

.auth-buttons {
  display: flex;
  align-items: center;
   gap: var(--Spacing-1);
  margin-right: 16px;
}

.login-link {
  text-decoration: none;
  color: #7C3AED;
  font-weight: 600;
}

.get-started-link {
  text-decoration: none;
}

.btn-get-started {
  background-color: #7c3aed !important;
  color: #fff;
  height: 38px;
  font-family: Inter !important;
  text-transform: none !important;
  font-size: 14px !important;
  font-weight: 600 !important;
 
}

.btn-get-started:hover {
  background-color: rgb(138, 79, 241);
}

.hamburger-icon {
  display: none !important;
}

.drawer-container {
  width: 250px;
  padding: 16px;
}

/* Responsive */
@media (max-width: 960px) {
  .header-container {
    padding: 0 24px;
    gap: 40px;
  }

  .nav-links,
  .auth-buttons {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }
}
/* @media (min-width: 960px) {
  .hamburger-icon {
    display: none !important;
  }
} */