.business-challenges-container {
  padding: 120px 200px 60px;
  background-color: #f9f9fb;
}

.bc-main {
  text-align: center;
}

.section-title {
  font-size: 32px;
  font-weight: 700;
  color: #1d293d;
}

.section-subtitle {
  font-size: 16px;
  color: #4b5563;
  max-width: 700px;
  margin: 0 auto;
}

.challenge-card {
  padding: 32px !important;
  border-radius: 16px !important;
  border-radius: 20px !important;
  border: 1px solid #e2e8f0 !important;
  background: #fff !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.challenge-grid {
  display: flex !important;
  /* flex-wrap: wrap; */
}

.challenge-block {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
}

.block-title-b {
  color: #1d293d !important;
  font-weight: 600 !important;
  font-size: 18px !important;
}

.block-subtitle-b {
  font-size: 13px !important;
  color: #1d293d !important;
  font-weight: 600 !important;
  max-width: 350px;
}

.icon-img {
  width: 20px !important;
  height: 20px !important;
  object-fit: contain;
}

.usecase-chip {
  padding: 2px 12px !important;
  border-radius: 4px !important;
  border: 1px solid #64748b !important;
  background: #f8fafc !important;
  font-size: 13px;
  margin-top: 4px;
}

.challenge-point {
  display: flex;
  align-items: flex-start;
}

.challenge-text {
  color: #4b5563;
  font-size: 14px;
}

.check-icon {
  color: #10b981;
  margin-top: 1px;
}

/* RESPONSIVE STYLES */
@media (max-width: 1200px) {
  .business-challenges-container {
    padding: 100px 100px 60px;
  }
}

@media (max-width: 900px) {
  .business-challenges-container {
    padding: 80px 40px 40px;
  }

  .challenge-card {
    padding: 24px;
  }

  .section-title {
    font-size: 28px;
  }

  .section-subtitle {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .business-challenges-container {
    padding: 60px 20px 40px;
  }

  .section-title {
    font-size: 24px;
  }

  .challenge-card {
    padding: 20px;
  }

  .usecase-chip {
    font-size: 12px;
  }

  .block-subtitle-b {
    font-size: 12.5px !important;
  }

  .challenge-text {
    font-size: 12.5px;
  }
}
